@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonte maior, cor branca com opaciadade, padding para estetica */
.context-menu-popup {
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px 10px;
  z-index: 1000; /* Para garantir que o componente fique acima de outros elementos */
}

#zoom-buttons {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.zoom-button {
  background-color: white;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px 10px;
  display: flex;
}

#map-controls {
  position: absolute;
  top: 90px;
  left: 10px;
  z-index: 1000;
}

.toggle-map-button {
  background-color: white;
  cursor: pointer;
  padding: 5px 10px;
}

.page-button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: white;
  cursor: pointer;
  padding: 5px 10px;
}